aiohttp
asyncio
celery
cryptography
django
django-celery-beat
django-celery-results
django-cors-headers
djangorestframework
djangorestframework-simplejwt
elasticsearch
elastic-apm
flower
gunicorn
psycopg2-binary
pytz
pyyaml
redis
shareplum
uritemplate
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability